[submodule "pi-for-claude"]
	path = pi-for-claude
	url = https://github.com/ahalekelly/pi-for-claude.git
[submodule "browser-swarm"]
	path = browser-swarm
	url = https://github.com/ahalekelly/browser-swarm.git
[submodule "claude-patching"]
	path = claude-patching
	url = https://github.com/ahalekelly/claude-patching.git
[submodule "skills/product-search/cross-shop"]
	path = skills/product-search/cross-shop
	url = https://github.com/ahalekelly/cross-shop.git
