[submodule "pi-for-claude"]
	path = pi-for-claude
	url = https://github.com/ahalekelly/pi-for-claude.git
[submodule "browser-leaf"]
	path = browser-swarm
	url = https://github.com/ahalekelly/browser-swarm.git
